.DS_Store
*.js
!**/postinstall.js
!**/preuninstall.js
!**/package/scripts/*.js
*.js.map
**/node_modules
package/**/*.d.ts
package/**/*.md
demos/**/hooks
demos/**/platforms
!demos/**/*.js
*.aar
.vscode/*
!**/.vscode/launch.json